
body{

    background-color: rgb(237, 241, 241);
    color: black;
    text-align: center;
}

p{
    font-family: 'Georgia';
    text-align: left;

}

h1{
    
    background-color: lightcoral;
    display: inline-block;

}

h2{

    text-align: center;

}

h3{
    background-color: lightcoral;
    /*text-align: left;*/
    
}

.refer{
    background-color: lightcoral;
    text-align: left;

}

a:link { /* unvisited link */
    color: red;
  }
  a:visited { /* visited link */
    color: blue;
  }
  a:hover { /* moused over link */
    color: green;
  }

i {
    color: blue;
}
